/*         .container {
            background-color: #000;
            width: 1000px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
            margin-bottom: 30px;
            padding-top: 25px;
            padding-bottom: 50px;
            padding-left: 50px;
            padding-right: 50px;
            text-align: left;
            overflow: hidden;
            -moz-box-shadow: 5px 5px 5px #6b2c04;
            -webkit-box-shadow: 5px 5px 5px #6b2c04;
            box-shadow: 5px 5px 5px #6b2c04;
            border-radius: 20px;
        } */
.container {
  background-color: #000;
  width: 1000px;
  margin: 50px auto;
  padding: 20px;
  text-align: left;
  overflow: hidden;
  box-shadow: 5px 5px 5px #6b2c04;
  border-radius: 10px;
}
